{% extends 'blog/base.html' %}
{% block content %}
    <div class = "container">
        <div class="pst m-5 p-4 border border-primary rounded">
            <div class = "d-flex justify-content-between align-items-center">
                <h1 class="flex-grow-1 text-center pt-2 pb-2"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                {% if user.is_authenticated %}
                    <a class="btn" href="{% url 'post_edit' pk=post.pk %}">edit</a>
                {% endif %}
            </div>
            <p class = "border-bottom border-primary pb-4">{{ post.text|linebreaksbr }}</p>
            <div class = "d-flex justify-content-between">
                <p>Автор: {{post.author}}</p>
                <p>Опубликовано: {{ post.published_date }}</p>
            </div>
        </div>
    </div>
{% endblock %}